@import"https://fonts.cdnfonts.com/css/aeion-mono-test";
*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,
:after {
    --tw-content: ""
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.-top-8 {
    top: -2rem
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.right-10 {
    right: 2.5rem
}

.top-8 {
    top: 2rem
}

.col-span-2 {
    grid-column: span 2 / span 2
}

.row-span-2 {
    grid-row: span 2 / span 2
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.my-14 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem
}

.my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem
}

.mb-16 {
    margin-bottom: 4rem
}

.ml-6 {
    margin-left: 1.5rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-16 {
    margin-top: 4rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-\[250px\] {
    height: 250px
}

.h-\[420px\] {
    height: 420px
}

.w-\[100\%\] {
    width: 100%
}

.w-\[40\%\] {
    width: 40%
}

.w-\[80\%\] {
    width: 80%
}

.w-\[90\%\] {
    width: 90%
}

.w-full {
    width: 100%
}

.max-w-\[1920px\] {
    max-width: 1920px
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-evenly {
    justify-content: space-evenly
}

.gap-10 {
    gap: 2.5rem
}

.gap-2 {
    gap: .5rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-x-10 {
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-2xl {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem
}

.border-2 {
    border-width: 2px
}

.border-\[\#1AA9F9\] {
    --tw-border-opacity: 1;
    border-color: rgb(26 169 249 / var(--tw-border-opacity))
}

.bg-\[\#19161C\] {
    --tw-bg-opacity: 1;
    background-color: rgb(25 22 28 / var(--tw-bg-opacity))
}

.bg-\[\#ffffff94\] {
    background-color: #ffffff94
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.p-6 {
    padding: 1.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px
}

.px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-\[12px\] {
    padding-top: 12px;
    padding-bottom: 12px
}

.py-\[8px\] {
    padding-top: 8px;
    padding-bottom: 8px
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pb-16 {
    padding-bottom: 4rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pt-16 {
    padding-top: 4rem
}

.pt-4 {
    padding-top: 1rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-\[10px\] {
    font-size: 10px
}

.text-\[12px\] {
    font-size: 12px
}

.text-\[15px\] {
    font-size: 15px
}

.text-\[16px\] {
    font-size: 16px
}

.text-\[18px\] {
    font-size: 18px
}

.text-\[20px\] {
    font-size: 20px
}

.text-\[22px\] {
    font-size: 22px
}

.text-\[25px\] {
    font-size: 25px
}

.text-\[26px\] {
    font-size: 26px
}

.text-\[35px\] {
    font-size: 35px
}

.text-\[50px\] {
    font-size: 50px
}

.text-\[65px\] {
    font-size: 65px
}

.text-\[80px\] {
    font-size: 80px
}

.font-bold {
    font-weight: 700
}

.font-light {
    font-weight: 300
}

.font-medium {
    font-weight: 500
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.leading-none {
    line-height: 1
}

.leading-tight {
    line-height: 1.25
}

.text-\[\#1AA9F9\] {
    --tw-text-opacity: 1;
    color: rgb(26 169 249 / var(--tw-text-opacity))
}

.text-\[\#BABABA\] {
    --tw-text-opacity: 1;
    color: rgb(186 186 186 / var(--tw-text-opacity))
}

.text-\[\#F087FF\] {
    --tw-text-opacity: 1;
    color: rgb(240 135 255 / var(--tw-text-opacity))
}

.text-\[\#FFEB3B\] {
    --tw-text-opacity: 1;
    color: rgb(255 235 59 / var(--tw-text-opacity))
}

.text-\[\#FFFFFF\] {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

#HeroSection {
    background-image: linear-gradient(#00000080, #0006), url(/assets/heroImage-DeKicxYI.jpeg);
    background-size: cover;
    background-position: center
}

.clients {
    background-image: url(/assets/clients-Ck6SCNGm.png);
    background-size: 100% 100%
}

.empower {
    background-image: url(/assets/empower-CYOjKVww.png);
    background-size: 100% 100%
}

.footer {
    background-image: linear-gradient(#000000b7, #000000a8), url(/assets/footer-oyn1NthB.jpg);
    background-size: 100% 100%
}

.glassMorfizam {
    background-image: url(/assets/Display-D9nGR545.png);
    background-size: 100% 100%
}

.hover\:bg-\[\#ffffff2c\]:hover {
    background-color: #ffffff2c
}

.hover\:bg-\[\#ffffff36\]:hover {
    background-color: #ffffff36
}

.hover\:text-\[\#ffffff9f\]:hover {
    color: #ffffff9f
}

@media (min-width: 768px) {
    .md\:mt-0 {
        margin-top: 0
    }
    .md\:mt-20 {
        margin-top: 5rem
    }
    .md\:hidden {
        display: none
    }
    .md\:h-\[500px\] {
        height: 500px
    }
    .md\:h-\[600px\] {
        height: 600px
    }
    .md\:w-\[100\%\] {
        width: 100%
    }
    .md\:w-\[60\%\] {
        width: 60%
    }
    .md\:w-\[80\%\] {
        width: 80%
    }
    .md\:w-\[90\%\] {
        width: 90%
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .md\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr))
    }
    .md\:justify-end {
        justify-content: flex-end
    }
    .md\:px-14 {
        padding-left: 3.5rem;
        padding-right: 3.5rem
    }
    .md\:px-\[100px\] {
        padding-left: 100px;
        padding-right: 100px
    }
    .md\:py-0 {
        padding-top: 0;
        padding-bottom: 0
    }
    .md\:py-36 {
        padding-top: 9rem;
        padding-bottom: 9rem
    }
    .md\:py-\[22px\] {
        padding-top: 22px;
        padding-bottom: 22px
    }
    .md\:text-\[100px\] {
        font-size: 100px
    }
    .md\:text-\[118px\] {
        font-size: 118px
    }
    .md\:text-\[20px\] {
        font-size: 20px
    }
    .md\:text-\[25px\] {
        font-size: 25px
    }
    .md\:text-\[30px\] {
        font-size: 30px
    }
    .md\:text-\[70px\] {
        font-size: 70px
    }
    .md\:text-\[96px\] {
        font-size: 96px
    }
}

@media (min-width: 1024px) {
    .lg\:ml-0 {
        margin-left: 0
    }
    .lg\:mt-0 {
        margin-top: 0
    }
    .lg\:hidden {
        display: none
    }
    .lg\:w-\[80\%\] {
        width: 80%
    }
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }
}